{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mx-auto">
    {% for introduction in introductions %}
    <div class="max-w-6xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
        <div class="p-12">
            <h2 class="text-2xl font-bold mb-4">{{ introduction.name }}</h2>
            <p class="text-base">
                {{ introduction.description|striptags }}

            </p>
        </div>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}