<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Hamrobooks {% endblock %}</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <style>
        /* Custom CSS */
        footer {
            background-color: #143a81;
            color: black;
            padding: 20px;
            text-align: center;
        }

    </style>
</head>
<body>
    {% load static %}

<!-- Navbar -->
<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex items-center justify-between">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" alt="Your Book Store Logo" width="150px" height="80px">
        </a>
        <button class="text-white text-xl focus:outline-none lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
        </button>
        <div class="hidden lg:flex lg:items-center lg:w-auto" id="navbarNav">
            <ul class="lg:flex items-center">
                <li class="nav-item"><a class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-10" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-10" href="{% url 'about' %}">About Us</a></li>
                <li class="nav-item"><a class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-10" href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main Content -->
{% block content %}{% endblock %}

<footer class="bg-blue-700 text-white py-4">
    <p>&copy; 2023 HamroBooks. All rights reserved.</p>
    <div class="social-icons mt-4">
        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fhamro_books8%3Figshid%3DMzRlODBiNWFlZA%253D%253D%26fbclid%3DIwAR3ClUi2J6IVx_0Ex0yUNn1LptfG4_vyZXaw-p4KskyFmWY7c9ccDd8LUAM&h=AT1Q_u_IHaSs73WyCMEC2wBOwmjzmTVm2R8zZr0yuTETrMDSvkPEvkWqyupTMiHvLSJnBfC9yKJ_e-cbIMwSlrL6B9rrJJ3cUa4UDbAMSWXGjXIMYMN5cVktxwPs_PJnr6NirdT54LSkXlLqP97MIA" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100081809941598&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
</footer>
<!-- Tailwind CSS -->
<script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
<!-- Custom JavaScript for fetching books and creating cards -->
</body>
</html>