{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-4">Books</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Book Card 1 -->
        {% for book in books %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img src="{{ book.cover.url }}" class="w-full" alt="{{ book.title }}" style="object-fit: cover; height: auto;">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ book.title }}</div>
                    <p class="text-base">Author: {{ book.author }}</p>
                    <!-- Add more book details as needed -->
                </div>
            </div>
        {% endfor %}
        <!-- Add more book cards as needed -->
    </div>

   
    
</div>
    
{% endblock %}
